
.zzz img{
    display:flex;
    height: 300px;
    width: 375px;
    margin-top: 50px ;
    margin-left: 70px;
}
.yyy img {
    display:flex;
    height: 375px;
    width: 300px;
    margin-right: 70px;
}
.sss img {
    display:flex;
    height: 375px;
    width: 300px;
    margin-left: 70px;
}
.ttt img {
    display:flex;
    height: 300px;
    width: 375px;
    margin-bottom: 20px;
    margin-right: 100px;
}
.im1{
    justify-content:space-between;
    display:flex;
    margin-left: 50px;
    margin-right: 100px;
}
.im2{
    justify-content:space-between;
    display:flex;
    margin-left: 50px;
    margin-right: 100px;
}
.im3{
    justify-content:space-between;
    display:flex;
    margin-left: 50px;
    margin-right: 100px;
}
.ab {
    margin: 5px;  
}
.im {
    display:flex;
    justify-content:space-between;
    margin-left: 50px;
    margin-right: 100px;
}
h4 {
    display:flex;
    color:#0b0a17; 
    text-align: left;
    font-family:cursive;
    font-size: 20px;
    text-align: justify;
    width: 750px;
    padding: 75px;
    justify-content:space-between;
}
